[user]
	email = jarosser06@gmail.com
	name = Jim Rosser
[push]
	default = matching
[init]
	templatedir = ~/.git_template
[url "https://"]
  insteadOf = git://
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
